/* =Fuente para el título
----------------------------------------------------------*/
@font-face {
    /*Esta es la fuente para el título h1*/
    font-family: "RadioCanada";
    src: url(./RadioCanada-VariableFont_wdth\,wght.ttf);
    /*Esta es la fuente para los subtítulos h2*/
    font-family: "Regular";
    src: url(./Kanit-Regular.ttf);
    /*Esta es la fuente para los textos como párrafos*/
    font-family: "Patrick Hand";
    src: url(./PatrickHand-Regular.ttf);
}
/* =BODY
----------------------------------------------------------*/
body{
    background-color: rgba(19, 15, 15, 0.925);
}
/* =Título
----------------------------------------------------------*/
h1{
    position: relative; 
    font-family: "RadioCanada";
    text-shadow: 2px 2px black ;
    color: white;
    left: 200px;
    top: 30px
}


#nombreAsignatura{
    position: relative;
    left: 150px;
    top: 65px;
    border-color:black ;
    height: 20px;
}

#lista{
    position: relative;
    top: 200px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px black;
}

#nombreTarea{
    position: relative;
    left: 220px;
    top: 25px; 
    height: 20px;
}

#content{
    background-color: rgba(220, 20, 60, 0.658);
    border-radius: 10% ;
    width: 600px;
    height: 500px;
    position: relative;
    left: 400px;
    top:20px;
    bottom: 10px;
    padding: 20px 20px 20px 20px;
}

#añadir{
    position: relative;
    left: 100px;
    top: 100px; 
    
}
